body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(68, 62, 62);
    background: radial-gradient(circle, #000000 0%, #44464a 100%);
}

.header{
    border: blanchedalmond;
    background-image: url(./clase2/imagenes/imagenbuzo.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
}

.header__nav{
    text-align: center;
}

.header__nav li{
    display: inline-block;
}
.header__nav li:hover{
    transform: scale(1.1);
}

.footer{
    text-align: center;
    padding: 1rem;
}

.footer a{
    color: blanchedalmond;
    font-size: 1rem;
    clear: both;
}

img{
    display: flex;
    width: 320px;
    height: auto;
}

header {
    grid-area: header;
 }

footer {
    grid-area: footer;
 }

 section#servicios {
    grid-area: servicios;
 }
 
 section#productos {
    grid-area: productos;
 }

 section#incentivate {
    grid-area: incentivate;
 }

#productos, #incentivate {
    justify-self: center;
    align-self: stretch;
}

.imagenes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform:skew(5deg)
}
.imagenes:hover{
    transform: scale(1.1);
}

.contenido__intro{
    color: antiquewhite;
    font-size: 1.1rem;
    padding: 2rem;
}
iframe:hover{
    transform: scale(1.1);
}


/*Responsive Mobile*/


@media screen and (min-width: 0px) and (max-width: 869px){
    .header__nav a{
        text-decoration: none;
        color: blanchedalmond;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0;
    }
    
    .header__titulo{
        padding: 1rem;
        text-align: center;
        font-size: 1.3rem;
        color: blanchedalmond;
    }
    
    .titulo__secciones{
        color: blanchedalmond;
        font-size: 1.5rem;
        display: block;
        text-align: center;
        padding-top: 1em;
        text-decoration: none;
    }

    #grilla {
        display: grid;
        grid-template-areas:
        "header"
        "servicios"
        "productos"
        "incentivate"
        "footer";
        grid-template-rows: 150px auto auto auto 70px;
        grid-template-columns: 100%;
    }
 }


/*Responsive Desktop*/


@media only screen and (min-width: 870px){
    .header__nav a{
        text-decoration: none;
        color: blanchedalmond;
        font-size: 1.5rem;
        padding: 3rem;
    }
    
    .header__titulo{
        padding: 2rem;
        text-align: center;
        font-size: 4rem;
        color: blanchedalmond;
    }
    
    .titulo__secciones{
        color: blanchedalmond;
        font-size: 2rem;
        display: block;
        text-align: center;
        padding-top: 1em;
        text-decoration: none;
    }

    .contenido__intro{
        color: antiquewhite;
        font-size: 1.1rem;
        padding: 2rem;
    }
    
    #grilla {
        display: grid;
        grid-template-areas:
          "header header"
          "servicios servicios"
          "productos incentivate"
          "footer footer";
        grid-template-rows: 250px auto auto 70px;
        grid-template-columns: 50% 50%;
        grid-row-gap: 10px;
        height: 100vh;
     }
}
/*Bootstrap*/
